body {
  font-family: Gotham SSm, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
}

div#main-text {
  font-size: 3em;
  font-weight: 600;
  color: white;
  margin-top: 40vh;
  margin-left: 5vw;
}

#heading-text {
  font-size: 6.5em;
  font-weight: 600;
  color: white;
  margin-left: 10vh;
  padding: 40px;
}
@media screen and (max-width: 1024px) {
  div#main-text {
    font-size: 1.75em;
    margin-top: 30vh;
    margin-left: 0;
  }

  #heading-text {
    font-size: 2.5em;
    margin-left: 0;
  }
}

div#main-text p {
  margin: 10px;
}

#main-content {
  margin: 20px;
  padding: 20px;
  min-height: calc(100vh - 20px);
}

#main-footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
}
/* ========================================
   Header style
   ======================================== */

/* The header's text */
div.header ul li a {
  font-weight: bold; /* font-weight: bold; */
  font-size: 20px; /* font-size: 12px; */
  text-decoration: none; /* disable the dark blue highlight */
  display: inline-block;
  position: relative;
  z-index: 1;
  color: inherit;
}

/* The header */
div.header {
  display: flex; /* flexbox layout */
  justify-content: flex-end;
  padding: 15px;
  position: fixed;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  transition: all 0.3s ease;
  color: white;
}

.header.white-background {
  background-color: white;
  color: black;
}

/* The header's home button */
ul.home {
  margin-right: auto;
  list-style: none;
}

/* The header's home button */
div.header ul li {
  display: inline-block;
  padding: 0px 30px;
}

/* The header's home button */
div.header ul a:hover {
  color: hsl(240deg 14% 90%);
}

/* The header's menu buttons */
ul.menu {
  list-style: none;
}

/* The header's icon */
div.header img {
  padding: 0%;
  transform: translateY(3px);
}

/* The header when the width is less than 750px */
@media screen and (max-width: 1024px) {
  /* The hamburger menu */
  div.header ul.menu {
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    flex-direction: column;
    z-index: 10;
    margin-top: 0;
    padding-top: 100px;
    color: inherit;
  }

  ul {
    z-index: 11;
  }

  /* A show animation */
  div.header ul.menu.show {
    transform: translateX(0%);
    margin-top: 0;
  }

  /* The menu buttons */
  div.header ul.menu li {
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }

  /* The menu buttons */
  div.header ul.menu li a {
    font-family: var(--header-font-family), sans-serif; /* font-family: "verdana", sans-serif; */
    font-weight: bold; /* font-weight: bold; */
    color: white;
    font-size: 20px;
  }

  div.header ul li {
    padding: 0;
  }

  div.header {
    justify-content: flex-start;
  }

  /* The header's home button */
  .hamburger-menu {
    margin-left: auto;
    cursor: pointer;
    user-select: none;
    margin: 20px;
    color: inherit;
    margin-right: 50px;
  }
}

/* Hide the hamburger menu and the home mobile button when the width is more than 750px */
@media screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }

  .home-mobile {
    display: none;
  }
}

/* Dropdown menu style */
@media screen and (min-width: 1024px) {
  .dropdown-menu {
    display: block; /* Always display, but hide with opacity and visibility */
    opacity: 0;
    visibility: hidden; /* This will make the element not visible and not clickable */
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    margin-top: 20px;
    transition: all 1s ease-in-out, visibility 0s; /* Apply transition to both properties */
    transform: translateY(20px);
  }

  div.header ul .dropdown-menu a {
    padding: 10px;
    color: black;
    text-decoration: none;
    display: block; /* This should ensure the elements stack top to bottom */
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }

  .dropdown-menu a:hover {
    color: hsl(240deg 14% 79%);
  }

  .show-dropdown {
    opacity: 1;
    visibility: visible; /* Make the element visible and clickable */
    transform: translateY(0);
  }
  a .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .show-dropdown a .arrow {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1024px) {
  .dropdown-menu {
    margin-top: 10px;
    display: none;
    z-index: 1;
    text-align: center;
  }

  div.header ul li .dropdown-menu a {
    font-size: 18px;
    display: block;
    width: 100%;
    font-size: 17px;
    padding: 8px 0px;
  }

  .show-dropdown {
    display: block;
  }
  .Info a .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .show-dropdown.Info a .arrow {
    transform: rotate(180deg);
  }
}

/* ========================================
  Explaining ESG section
  ========================================*/

#esg-explanation {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
  padding: 94px 160px;
}

#esg-explanation .text {
  width: 50%;
}
#esg-explanation .image {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}
#esg-explanation .text h3 {
  font-size: 3em;
}

#esg-explanation .text p {
  font-size: 1.19em;
}

#esg-explanation .image img {
  width: 100%;
  opacity: 0.7;
}

/* Class to show section */
.show {
  opacity: 1 !important;
}

@media screen and (max-width: 1240px) {
  #esg-explanation {
    display: block;
    padding: 9px;
  }

  #esg-explanation .text,
  #esg-explanation .image {
    width: 100%;
  }
  #esg-explanation .text h3 {
    font-size: 1.75em;
  }

  #esg-explanation .text p {
    font-size: 1em;
  }
}
/* Remainder of your CSS below this line */

/* ========================================
  Explaining ESG video section
  ========================================*/

#esg-video {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 160px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: calc(56.25% * 1); /* 16:9 Aspect Ratio */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1240px) {
  .video-container {
    position: relative;
    width: 95%;
    padding-bottom: calc(56.25% * 0.95); /* 16:9 Aspect Ratio */
    height: 0;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

/* ========================================
  ESG misconception
  ========================================*/
.esg-misconception {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 94px 160px;
}

.esg-misconception:nth-child(even) {
  flex-direction: row-reverse;
}

.esg-misconception .text {
  width: 50%;
}

.esg-misconception .text h3 {
  font-size: 3.75em;
}

.esg-misconception .h3 {
  font-size: 3.75em;
}

.esg-misconception .text p {
  font-size: 1.19em;
}

.esg-misconception .text li {
  font-size: 1.19em;
}

.esg-misconception .image {
  width: 45%;
  position: relative;
  text-align: center;
}

.esg-misconception .image img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  border: none;
  border-radius: 10px;
}

/* .esg-misconception .image:before {
  content: "";
  display: block;
  padding-top: 70%; 
} */

@media screen and (max-width: 1240px) {
  .esg-misconception {
    flex-direction: column !important;
    padding: 9px;
  }

  .esg-misconception .text,
  .esg-misconception .image {
    width: 100%;
  }

  .esg-misconception .text h3 {
    font-size: 2.25em;
  }

  .esg-misconception h3 {
    font-size: 2.25em;
  }

  .esg-misconception .text p {
    font-size: 1em;
  }

  .esg-misconception .text li {
    font-size: 1em;
  }
}
